.fl-c-red-1 { background-color:#190000; }
.fl-c-red-2 { background-color:#330000; }
.fl-c-red-3 { background-color:#4c0000; }
.fl-c-red-4 { background-color:#660000; }
.fl-c-red-5 { background-color:#7f0000; }
.fl-c-red-6 { background-color:#990000; }
.fl-c-red-7 { background-color:#b20000; }
.fl-c-red-8 { background-color:#cc0000; }
.fl-c-red-9 { background-color:#e50000; }
.fl-c-red-10 { background-color:#ff0000; }
.fl-c-red-11 { background-color:#ff1919; }
.fl-c-red-12 { background-color:#ff3232; }
.fl-c-red-13 { background-color:#ff4c4c; }
.fl-c-red-14 { background-color:#ff6666; }
.fl-c-red-15 { background-color:#ff7f7f; }
.fl-c-red-16 { background-color:#ff9999; }
.fl-c-red-17 { background-color:#ffb2b2; }
.fl-c-red-18 { background-color:#ffcccc; }
.fl-c-red-19 { background-color:#ffe5e5; }

.fl-c-purple-1 { background-color:#0c000c; }
.fl-c-purple-2 { background-color:#190019; }
.fl-c-purple-3 { background-color:#260026; }
.fl-c-purple-4 { background-color:#330033; }
.fl-c-purple-5 { background-color:#400040; }
.fl-c-purple-6 { background-color:#4c004c; }
.fl-c-purple-7 { background-color:#590059; }
.fl-c-purple-8 { background-color:#660066; }
.fl-c-purple-9 { background-color:#730073; }
.fl-c-purple-10 { background-color:#800080; }
.fl-c-purple-11 { background-color:#8c198c; }
.fl-c-purple-12 { background-color:#993299; }
.fl-c-purple-13 { background-color:#a64ca6; }
.fl-c-purple-14 { background-color:#b266b2; }
.fl-c-purple-15 { background-color:#bf7fbf; }
.fl-c-purple-16 { background-color:#cc99cc; }
.fl-c-purple-17 { background-color:#d8b2d8; }
.fl-c-purple-18 { background-color:#e5cce5; }
.fl-c-purple-19 { background-color:#f2e5f2; }

.fl-c-orange-1 { background-color:#191000; }
.fl-c-orange-2 { background-color:#332100; }
.fl-c-orange-3 { background-color:#4c3100; }
.fl-c-orange-4 { background-color:#664200; }
.fl-c-orange-5 { background-color:#7f5200; }
.fl-c-orange-6 { background-color:#996300; }
.fl-c-orange-7 { background-color:#b27300; }
.fl-c-orange-8 { background-color:#cc8400; }
.fl-c-orange-9 { background-color:#e59400; }
.fl-c-orange-10 { background-color:#ffa500; }
.fl-c-orange-11 { background-color:#ffae19; }
.fl-c-orange-12 { background-color:#ffb732; }
.fl-c-orange-13 { background-color:#ffc04c; }
.fl-c-orange-14 { background-color:#ffc966; }
.fl-c-orange-15 { background-color:#ffd27f; }
.fl-c-orange-16 { background-color:#ffdb99; }
.fl-c-orange-17 { background-color:#ffe4b2; }
.fl-c-orange-18 { background-color:#ffedcc; }
.fl-c-orange-19 { background-color:#fff6e5; }

.fl-c-yellow-1 { background-color:#191900; }
.fl-c-yellow-2 { background-color:#333300; }
.fl-c-yellow-3 { background-color:#4c4c00; }
.fl-c-yellow-4 { background-color:#666600; }
.fl-c-yellow-5 { background-color:#7f7f00; }
.fl-c-yellow-6 { background-color:#999900; }
.fl-c-yellow-7 { background-color:#b2b200; }
.fl-c-yellow-8 { background-color:#cccc00; }
.fl-c-yellow-9 { background-color:#e5e500; }
.fl-c-yellow-10 { background-color:#ffff00; }
.fl-c-yellow-11 { background-color:#ffff19; }
.fl-c-yellow-12 { background-color:#ffff32; }
.fl-c-yellow-13 { background-color:#ffff4c; }
.fl-c-yellow-14 { background-color:#ffff66; }
.fl-c-yellow-15 { background-color:#ffff7f; }
.fl-c-yellow-16 { background-color:#ffff99; }
.fl-c-yellow-17 { background-color:#ffffb2; }
.fl-c-yellow-18 { background-color:#ffffcc; }
.fl-c-yellow-19 { background-color:#ffffe5; }
