.fl-c-red-1 { background-color:#ffe5e5; }
.fl-c-red-2 { background-color:#ffcccc; }
.fl-c-red-3 { background-color:#ffb2b2; }
.fl-c-red-4 { background-color:#ff9999; }
.fl-c-red-5 { background-color:#ff7f7f; }
.fl-c-red-6 { background-color:#ff6666; }
.fl-c-red-7 { background-color:#ff4c4c; }
.fl-c-red-8 { background-color:#ff3232; }
.fl-c-red-9 { background-color:#ff1919; }
.fl-c-red-10 { background-color:#ff0000; }
.fl-c-red-11 { background-color:#e50000; }
.fl-c-red-12 { background-color:#cc0000; }
.fl-c-red-13 { background-color:#b20000; }
.fl-c-red-14 { background-color:#990000; }
.fl-c-red-15 { background-color:#7f0000; }
.fl-c-red-16 { background-color:#660000; }
.fl-c-red-17 { background-color:#4c0000; }
.fl-c-red-18 { background-color:#330000; }
.fl-c-red-19 { background-color:#190000; }

.fl-c-orange-1 { background-color:#fff6e5; }
.fl-c-orange-2 { background-color:#ffedcc; }
.fl-c-orange-3 { background-color:#ffe4b2; }
.fl-c-orange-4 { background-color:#ffdb99; }
.fl-c-orange-5 { background-color:#ffd27f; }
.fl-c-orange-6 { background-color:#ffc966; }
.fl-c-orange-7 { background-color:#ffc04c; }
.fl-c-orange-8 { background-color:#ffb732; }
.fl-c-orange-9 { background-color:#ffae19; }
.fl-c-orange-10 { background-color:#ffa500; }
.fl-c-orange-11 { background-color:#e59400; }
.fl-c-orange-12 { background-color:#cc8400; }
.fl-c-orange-13 { background-color:#b27300; }
.fl-c-orange-14 { background-color:#996300; }
.fl-c-orange-15 { background-color:#7f5200; }
.fl-c-orange-16 { background-color:#664200; }
.fl-c-orange-17 { background-color:#4c3100; }
.fl-c-orange-18 { background-color:#332100; }
.fl-c-orange-19 { background-color:#191000; }

.fl-c-yellow-1 { background-color:#ffffe5; }
.fl-c-yellow-2 { background-color:#ffffcc; }
.fl-c-yellow-3 { background-color:#ffffb2; }
.fl-c-yellow-4 { background-color:#ffff99; }
.fl-c-yellow-5 { background-color:#ffff7f; }
.fl-c-yellow-6 { background-color:#ffff66; }
.fl-c-yellow-7 { background-color:#ffff4c; }
.fl-c-yellow-8 { background-color:#ffff32; }
.fl-c-yellow-9 { background-color:#ffff19; }
.fl-c-yellow-10 { background-color:#ffff00; }
.fl-c-yellow-11 { background-color:#e5e500; }
.fl-c-yellow-12 { background-color:#cccc00; }
.fl-c-yellow-13 { background-color:#b2b200; }
.fl-c-yellow-14 { background-color:#999900; }
.fl-c-yellow-15 { background-color:#7f7f00; }
.fl-c-yellow-16 { background-color:#666600; }
.fl-c-yellow-17 { background-color:#4c4c00; }
.fl-c-yellow-18 { background-color:#333300; }
.fl-c-yellow-19 { background-color:#191900; }

.fl-c-lightgreen-1 { background-color:#f3fdf3; }
.fl-c-lightgreen-2 { background-color:#e8fbe8; }
.fl-c-lightgreen-3 { background-color:#ddf9dd; }
.fl-c-lightgreen-4 { background-color:#d2f8d2; }
.fl-c-lightgreen-5 { background-color:#c7f6c7; }
.fl-c-lightgreen-6 { background-color:#bcf4bc; }
.fl-c-lightgreen-7 { background-color:#b1f3b1; }
.fl-c-lightgreen-8 { background-color:#a6f1a6; }
.fl-c-lightgreen-9 { background-color:#9bef9b; }
.fl-c-lightgreen-10 { background-color:#90ee90; }
.fl-c-lightgreen-11 { background-color:#81d681; }
.fl-c-lightgreen-12 { background-color:#73be73; }
.fl-c-lightgreen-13 { background-color:#64a664; }
.fl-c-lightgreen-14 { background-color:#568e56; }
.fl-c-lightgreen-15 { background-color:#487748; }
.fl-c-lightgreen-16 { background-color:#395f39; }
.fl-c-lightgreen-17 { background-color:#2b472b; }
.fl-c-lightgreen-18 { background-color:#1c2f1c; }
.fl-c-lightgreen-19 { background-color:#0e170e; }

.fl-c-green-1 { background-color:#e5f2e5; }
.fl-c-green-2 { background-color:#cce5cc; }
.fl-c-green-3 { background-color:#b2d8b2; }
.fl-c-green-4 { background-color:#99cc99; }
.fl-c-green-5 { background-color:#7fbf7f; }
.fl-c-green-6 { background-color:#66b266; }
.fl-c-green-7 { background-color:#4ca64c; }
.fl-c-green-8 { background-color:#329932; }
.fl-c-green-9 { background-color:#198c19; }
.fl-c-green-10 { background-color:#008000; }
.fl-c-green-11 { background-color:#007300; }
.fl-c-green-12 { background-color:#006600; }
.fl-c-green-13 { background-color:#005900; }
.fl-c-green-14 { background-color:#004c00; }
.fl-c-green-15 { background-color:#004000; }
.fl-c-green-16 { background-color:#003300; }
.fl-c-green-17 { background-color:#002600; }
.fl-c-green-18 { background-color:#001900; }
.fl-c-green-19 { background-color:#000c00; }

.fl-c-lightblue-1 { background-color:#f6fbfc; }
.fl-c-lightblue-2 { background-color:#eef7fa; }
.fl-c-lightblue-3 { background-color:#e6f3f7; }
.fl-c-lightblue-4 { background-color:#deeff5; }
.fl-c-lightblue-5 { background-color:#d6ebf2; }
.fl-c-lightblue-6 { background-color:#cde7f0; }
.fl-c-lightblue-7 { background-color:#c5e3ed; }
.fl-c-lightblue-8 { background-color:#bddfeb; }
.fl-c-lightblue-9 { background-color:#b5dbe8; }
.fl-c-lightblue-10 { background-color:#add8e6; }
.fl-c-lightblue-11 { background-color:#9bc2cf; }
.fl-c-lightblue-12 { background-color:#8aacb8; }
.fl-c-lightblue-13 { background-color:#7997a1; }
.fl-c-lightblue-14 { background-color:#67818a; }
.fl-c-lightblue-15 { background-color:#566c73; }
.fl-c-lightblue-16 { background-color:#45565c; }
.fl-c-lightblue-17 { background-color:#334045; }
.fl-c-lightblue-18 { background-color:#222b2e; }
.fl-c-lightblue-19 { background-color:#111517; }

.fl-c-blue-1 { background-color:#e5e5ff; }
.fl-c-blue-2 { background-color:#ccccff; }
.fl-c-blue-3 { background-color:#b2b2ff; }
.fl-c-blue-4 { background-color:#9999ff; }
.fl-c-blue-5 { background-color:#7f7fff; }
.fl-c-blue-6 { background-color:#6666ff; }
.fl-c-blue-7 { background-color:#4c4cff; }
.fl-c-blue-8 { background-color:#3232ff; }
.fl-c-blue-9 { background-color:#1919ff; }
.fl-c-blue-10 { background-color:#0000ff; }
.fl-c-blue-11 { background-color:#0000e5; }
.fl-c-blue-12 { background-color:#0000cc; }
.fl-c-blue-13 { background-color:#0000b2; }
.fl-c-blue-14 { background-color:#000099; }
.fl-c-blue-15 { background-color:#00007f; }
.fl-c-blue-16 { background-color:#000066; }
.fl-c-blue-17 { background-color:#00004c; }
.fl-c-blue-18 { background-color:#000033; }
.fl-c-blue-19 { background-color:#000019; }

.fl-c-purple-1 { background-color:#f2e5f2; }
.fl-c-purple-2 { background-color:#e5cce5; }
.fl-c-purple-3 { background-color:#d8b2d8; }
.fl-c-purple-4 { background-color:#cc99cc; }
.fl-c-purple-5 { background-color:#bf7fbf; }
.fl-c-purple-6 { background-color:#b266b2; }
.fl-c-purple-7 { background-color:#a64ca6; }
.fl-c-purple-8 { background-color:#993299; }
.fl-c-purple-9 { background-color:#8c198c; }
.fl-c-purple-10 { background-color:#800080; }
.fl-c-purple-11 { background-color:#730073; }
.fl-c-purple-12 { background-color:#660066; }
.fl-c-purple-13 { background-color:#590059; }
.fl-c-purple-14 { background-color:#4c004c; }
.fl-c-purple-15 { background-color:#400040; }
.fl-c-purple-16 { background-color:#330033; }
.fl-c-purple-17 { background-color:#260026; }
.fl-c-purple-18 { background-color:#190019; }
.fl-c-purple-19 { background-color:#0c000c; }
